@model Lab4.Models.ComputerModel
@{
    ViewBag.Title = "TagHelper";
}
<body>
    <header>
        <h1>TagHelper</h1>
    </header>
    <p>Please fill out the form below</p>
    <form method="POST" asp-action="TagHelper" asp-controller="TagHelper">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="Name" class="control-label">Name</label>
            <input type="text" class = "form-control" asp-for="Name">
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Password</label>
            <input type="password" class = "form-control" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="IPAddress" class="control-label">IPAddress</label>
            <input type="text" class = "form-control" asp-for="IPAddress">
            <span asp-validation-for="IPAdress"></span>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="control-label">Location</label>
            <input type="text" class = "form-control" asp-for="Location">
        </div>
        <div class="form-group">
            <label asp-for="OS" class="control-label">OS Type</label>
            <select class = "form-control" asp-for="OS">
                @foreach (var OSType in Lab4.Models.ComputerModel.OSTypes){
                    <option>@OSType</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description</label>
            <input type="text" class = "form-control" asp-for="Description">
        </div>
        <div class="form-group">
            <label asp-for="SupportedMonitors" class="control-label">SupportedMonitors</label>
            <input type="number" class = "form-control" asp-for="SupportedMonitors">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>