/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/*Palette UID 12M0u0kllllaFw0g0qFqFg0w0aF*/

h1 {
    color: #354F00 !important;
}
p {
    color: #354F00 !important;
    font-size: 26px;
}

.listName {
    text-align: center
}

label {
    color: #354F00 !important;

}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #D4EE9F !important;

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
