@{
    ViewBag.Title="Home";
}
<body>
    
    <h1 id="top">Klamath Calamity Crew</h1>
    <main>
        <p class="alert alert-primary">Extreme friendship ahead</p>
    </main>
    <h2>My Inspiration</h2>
    <nav>
        <ul class="list-group">
            <li class="list-group-item"><a href=https://www.danflyingsolo.com>Dan Flying Solo</a></li>
            <li class="list-group-item"><a href=https://mylifesamovie.com>My lifess a movie</a></li>
            <li class="list-group-item"><a href=http://www.thenx.com>ThenX</a></li>
        </ul>
    </nav>
    <img src="ClifJumping.JPG" alt="Cliff Jumping" class="rounded mx-auto d-block">
    <footer class="card-footer">
        <div>Contact:</div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    Paul Wyatt
                </div>
                <div class="col-sm">
                    email: paul.wyatt@oit.edu
                </div>
                <div class="col-sm">
                    <a href="#top">Top</a>
                </div>
            </div>
        </div>
    </footer>
</body>