@model  WorkOutModel
<body>
    <h1>
        @Html.DisplayFor(m => m.WName)
    </h1>
    <h2>
        @Html.DisplayFor(m => m.WRating)
        / 6 stars
    </h2>
    <p>
        @Html.DisplayFor(m=>m.WDescription)
    </p>
</body>