@model  AdventureModel
<body>
    <h1>
        @Html.DisplayFor(m => m.AName)
    </h1>
    <h2>
        @Html.DisplayFor(m => m.ARating)
        / 7 stars
    </h2>
    <p>
        @Html.DisplayFor(m=>m.ADescription)
    </p>
</body>