@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "Book";
}
<body>
    <h1>
        Books
    </h1>
    <h2>
    <div>
        <a asp-area="" asp-controller="Book" asp-action="PostBlog">Post Blog</a>
    </div>
    </h2>
<ul class="list-group">
    @foreach (var Book in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    <a href="@Url.Action("View", "Book", new { @id = Book.ID })">@Book.BTitle</a>
                </div>
                <div class="col-md-2">
                    <form class ="form-inline" asp-action="Delete" asp-controller="Book" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@Book.ID" />
                        <button type="submit" class="btn btn-danger"><i class="fas fa-times"></i></button>
                    </form>
                </div>
            </div>
        </li>

    }
</ul>
</body>